# Libraries

In [48]:
#https://www.datacamp.com/community/tutorials/fuzzy-string-python

import pandas as pd
import pyreadstat
from fuzzywuzzy import fuzz
from matplotlib import pyplot as plt
pd.options.mode.chained_assignment = None

# Read Data

In [2]:
londonCodeDF = pd.read_csv("LondonCodes.csv")
wardDataDemoDF = pd.read_table("WardDataDemo.dat")
wardDataEnviroDF = pd.read_csv("WardDataEnvironment.csv")
wardDataHealthDF = pd.read_sas("WardDataHealth.sas7bdat", format='sas7bdat', encoding="latin1")
wardDataSocDF, meta = pyreadstat.read_sav("WardDataSoc.sav")

In [3]:
FullDF = pd.DataFrame(columns=['Wardcode', 'District', 'Districtcode'])

### London Dataset

In [4]:
londonCodeDF.head()

               District Districtcode
0  Barking and Dagenham         00AB
1                Barnet         00AC
2                Bexley         00AD
3                 Brent         00AE
4               Bromley         00AF

### Merge on ward name

In [21]:
wardDataDemoDF.head()

,Wardname,Children,Greaterthan65,nonwhite,NotBorninUK,NotEnglishspeaking
0,Hackney - Queensbridge,17.542063,8.2,44.7,38.3,11.8
1,Hammersmith & Fulham - S&s End,17.915361,8.4,30.6,39.0,11.8
2,Barking & Dagenham - River,26.851598,10.1,38.4,30.9,9.6
3,Tower Hamlets - Bethnal Green North,18.555872,7.0,49.4,38.7,15.0
4,Merton - Abbey,15.731861,8.5,26.6,38.3,12.5

In [22]:
wardDataHealthDF.head()

,Wardname,Population2011Census,GeneralFertilityRate,Malelifeexpectancy,Femalelifeexpectancy
0,Bromley - Darwin,5110.0,63.8,81.2,82.4
1,Kensington and Chelsea - Royal Hospital,7252.0,52.3,80.5,89.6
2,Hillingdon - Harefield,7399.0,55.8,78.3,82.3
3,Hammersmith and Fulham - Palace Riverside,7483.0,40.0,80.9,89.0
4,Kensington and Chelsea - Pembridge,7659.0,40.4,82.1,85.7

### Merge on wardcode

In [7]:
wardDataEnviroDF.head()

  Wardcode  Population2011Census  Crimerate  Openspace
0   00ANGQ                 11201      117.7        0.0
1   00ANGA                 11518      114.0        0.3
2   00ADGN                 10800       44.2        0.7
3   00BEGH                 12321       65.3        0.7
4   00BCFZ                 12609       64.3        1.3

In [8]:
wardDataSocDF.head()

  Wardcode  hhSocialRented  JobSeekers  Noqual  Carsperhousehold
0   00ABFX            26.7         8.7    16.4               0.5
1   00ABFY            36.8        10.2    31.2               0.8
2   00ABFZ            29.4        10.2    28.0               0.9
3   00ABGB            20.0         8.8    29.9               1.1
4   00ABGC            37.4        10.2    28.9               0.8

### Fuzzy Matching Method

In [9]:
def get_match(Str1, Str2):
    Ratio = fuzz.ratio(Str1.lower(),Str2.lower())
    return Ratio

def get_P_match(Str1, Str2):
    Partial_Ratio = fuzz.partial_ratio(Str1.lower(),Str2.lower())
    return Partial_Ratio

###  Merge the two wardcode tables

In [10]:
columns = ['Wardcode', 'Population2011Census', 'Crimerate', 'Openspace', 'hhSocialRented', 'JobSeekers', 'Noqual','Carsperhousehold']
FullWardDataDF = pd.DataFrame(columns=columns)
for i in range(0,len(wardDataEnviroDF)):
    for j in range(0,len(wardDataSocDF)):
        if(get_match( wardDataEnviroDF['Wardcode'][i], wardDataSocDF['Wardcode'][j]) > 90):
            FullWardDataDF.loc[len(FullWardDataDF)] = [wardDataEnviroDF['Wardcode'][i], wardDataEnviroDF['Population2011Census'][i],wardDataEnviroDF['Crimerate'][i], wardDataEnviroDF['Openspace'][i],wardDataSocDF['hhSocialRented'][j],wardDataSocDF['JobSeekers'][j],wardDataSocDF['Noqual'][j],wardDataSocDF['Carsperhousehold'][j]]
            #print (str(i)+ " " + str(j))

In [23]:
FullWardDataDF.head()

,Wardcode,Population2011Census,Crimerate,Openspace,hhSocialRented,JobSeekers,Noqual,Carsperhousehold
0,00ANGQ,11201,117.7,0.0,23.7,3.6,9.4,0.6
1,00ANGA,11518,114.0,0.3,24.9,4.5,9.3,0.5
2,00ADGN,10800,44.2,0.7,1.1,2.9,22.1,1.3
3,00BEGH,12321,65.3,0.7,20.3,4.6,12.3,0.7
4,00BCFZ,12609,64.3,1.3,4.7,4.2,17.2,1.2

### Merge the two wardname tables

In [12]:
columns = ['Wardname','Children','Greaterthan65','nonwhite','NotBorninUK','NotEnglishspeaking', 'Population2011Census','GeneralFertilityRate','Malelifeexpectancy','Femalelifeexpectancy']
FullHealthDataDF = pd.DataFrame(columns=columns)

for i in range(0,len(wardDataDemoDF)):
    for j in range(0,len(wardDataHealthDF)):
        if(get_match( str(wardDataDemoDF['Wardname'][i]), str(wardDataHealthDF['Wardname'][j])) > 93):
            FullHealthDataDF.loc[len(FullHealthDataDF)] = [wardDataDemoDF['Wardname'][i], wardDataDemoDF['Children'][i],wardDataDemoDF['Greaterthan65'][i], wardDataDemoDF['nonwhite'][i],wardDataDemoDF['NotBorninUK'][i],wardDataDemoDF['NotEnglishspeaking'][i],wardDataHealthDF['Population2011Census'][j],wardDataHealthDF['GeneralFertilityRate'][j],wardDataHealthDF['Malelifeexpectancy'][j],wardDataHealthDF['Femalelifeexpectancy'][j]]
            break

In [128]:
FullHealthDataDF.head()

,Wardname,Children,Greaterthan65,nonwhite,NotBorninUK,NotEnglishspeaking,Population2011Census,GeneralFertilityRate,Malelifeexpectancy,Femalelifeexpectancy
0,Hackney - Queensbridge,17.542063,8.2,44.7,38.3,11.8,13670.0,69.8,75.9,82.6
1,Tower Hamlets - Bethnal Green North,18.555872,7.0,49.4,38.7,15.0,13683.0,54.5,73.6,78.6
2,Merton - Abbey,15.731861,8.5,26.6,38.3,12.5,10323.0,52.6,80.0,81.0
3,Richmond upon Thames - South Richmond,16.552680,14.0,13.1,33.0,8.5,10649.0,76.4,83.8,86.1
4,Lambeth - Larkhall,16.656034,6.2,43.3,42.2,13.0,17243.0,38.8,74.0,79.2

### Make Final DF

In [28]:
CompleteDF = pd.DataFrame(columns=['Ward_Name','District','Districtcode'])

for i in range(0,len(FullHealthDataDF)):
    for j in range(0,len(londonCodeDF)):
        if(get_P_match( str(FullHealthDataDF['Wardname'][i]), str(londonCodeDF['District'][j])) > 90):
            CompleteDF.loc[len(CompleteDF)] = [FullHealthDataDF['Wardname'][i], londonCodeDF['District'][j],londonCodeDF['Districtcode'][j]]
            break

In [29]:
CompleteDF.head()

,Ward_Name,District,Districtcode
0,Hackney - Queensbridge,Hackney,00AM
1,Tower Hamlets - Bethnal Green North,Tower Hamlets,00BG
2,Merton - Abbey,Merton,00BA
3,Richmond upon Thames - South Richmond,Richmond upon Thames,00BD
4,Lambeth - Larkhall,Lambeth,00AY
5,Greenwich - Plumstead,Greenwich,00AL
6,Hillingdon - Heathrow Villages,Hillingdon,00AS
7,Lambeth - Streatham Hill,Lambeth,00AY
8,Havering - Gooshays,Havering,00AR
9,Croydon - Broad Green,Croydon,00AH
10,Hillingdon - West Ruislip,Hillingdon,00AS
11,Ealing - North Greenford,Ealing,00AJ
12,Lewisham - Lewisham Central,Lewisham,00AZ
13,Hillingdon - Hillingdon East,Hillingdon,00AS
14,Wandsworth - Southfields,Wandsworth,00BJ
15,Hounslow - Heston West,Hounslow,00AT
16,Sutton - Sutton West,Sutton,00BF
17,Merton - Dundonald,Merton,00BA
18,Haringey - West Green,Haringey,00AP
19,Hounslow - Heston Central,Hounslow,00AT
20,Barnet - Underhill,Barnet,00AC
21,Sutton - Sutton Central,Sutton,00BF
22,Bexley - Lesnes Abbey,Bexley,00AD
23,Southwark - Brunswick Park,Southwark,00BE
24,Redbridge - Clementswood,Redbridge,00BC
25,Islington - Barnsbury,Islington,00AU
26,Croydon - Shirley,Croydon,00AH
27,Wandsworth - Northcote,Wandsworth,00BJ
28,Greenwich - Woolwich Common,Greenwich,00AL
29,Croydon - Sanderstead,Croydon,00AH
...,...,...,...
514,Tower Hamlets - Shadwell,Tower Hamlets,00BG
515,Croydon - Norbury,Croydon,00AH
516,Waltham Forest - Higham Hill,Waltham Forest,00BH
517,Brent - Tokyngton,Brent,00AE
518,Haringey - Crouch End,Haringey,00AP
519,Hackney - New River,Hackney,00AM
520,Tower Hamlets - Blackwall & Cubitt Town,Tower Hamlets,00BG
521,Bromley - Shortlands,Bromley,00AF
522,Westminster - Tachbrook,Westminster,00BK
523,Barnet - East Finchley,Barnet,00AC
524,Merton - Colliers Wood,Merton,00BA
525,Havering - Emerson Park,Havering,00AR
526,Havering - Romford Town,Havering,00AR
527,Harrow - Kenton West,Harrow,00AQ
528,Kingston upon Thames - Berrylands,Kingston upon Thames,00AX
529,Camden - West Hampstead,Camden,00AG
530,Hounslow - Hounslow West,Hounslow,00AT
531,Lewisham - Ladywell,Lewisham,00AZ
532,Greenwich - Eltham North,Greenwich,00AL
533,Hounslow - Hounslow Heath,Hounslow,00AT
534,Hounslow - Feltham North,Hounslow,00AT
535,Redbridge - Bridge,Redbridge,00BC
536,Haringey - Noel Park,Haringey,00AP
537,Kingston upon Thames - Coombe Vale,Kingston upon Thames,00AX
538,Bromley - Chislehurst,Bromley,00AF
539,Haringey - Harringay,Haringey,00AP
540,Lambeth - Coldharbour,Lambeth,00AY
541,Newham - Plaistow North,Newham,00BB
542,Greenwich - Abbey Wood,Greenwich,00AL
543,Southwark - South Camberwell,Southwark,00BE

In [30]:
FullWardDataDF.head()

,Wardcode,Population2011Census,Crimerate,Openspace,hhSocialRented,JobSeekers,Noqual,Carsperhousehold
0,00ANGQ,11201,117.7,0.0,23.7,3.6,9.4,0.6
1,00ANGA,11518,114.0,0.3,24.9,4.5,9.3,0.5
2,00ADGN,10800,44.2,0.7,1.1,2.9,22.1,1.3
3,00BEGH,12321,65.3,0.7,20.3,4.6,12.3,0.7
4,00BCFZ,12609,64.3,1.3,4.7,4.2,17.2,1.2

In [31]:
CompleteDF['Population2011Census'] = None
CompleteDF['Crimerate'] = None
CompleteDF['Openspace'] = None
CompleteDF['hhSocialRented'] = None
CompleteDF['JobSeekers'] = None
CompleteDF['Noqual'] = None
CompleteDF['Carsperhousehold'] = None

for i in range(0,len(FullWardDataDF)):
    for j in range(0,len(CompleteDF)):
        if(get_match( str(FullWardDataDF['Wardcode'][i][:-2]), str(CompleteDF['Districtcode'][j]).strip()) > 90):
            CompleteDF.loc[j,'Population2011Census'] = FullWardDataDF['Population2011Census'][i]
            CompleteDF.loc[j,'Crimerate'] = FullWardDataDF['Crimerate'][i]
            CompleteDF.loc[j,'Openspace'] = FullWardDataDF['Openspace'][i]
            CompleteDF.loc[j,'hhSocialRented'] = FullWardDataDF['hhSocialRented'][i]
            CompleteDF.loc[j,'JobSeekers'] = FullWardDataDF['JobSeekers'][i]
            CompleteDF.loc[j,'Noqual'] = FullWardDataDF['Noqual'][i]
            CompleteDF.loc[j,'Carsperhousehold'] = FullWardDataDF['Carsperhousehold'][i]

In [32]:
CompleteDF.rename(columns={'Ward_Name': 'Wardname'}, inplace=True)
CompleteDF = pd.merge(CompleteDF, FullHealthDataDF, on='Wardname')

In [40]:
# Calculate Joint Life expectancy
def newlife(row):
    return (row['Malelifeexpectancy'] + row['Femalelifeexpectancy'])/2

In [42]:
CompleteDF['LifeTotal'] = CompleteDF.apply(newlife, axis=1)

In [58]:
CompleteDF

,Wardname,District,Districtcode,Population2011Census_x,Crimerate,Openspace,hhSocialRented,JobSeekers,Noqual,Carsperhousehold,Children,Greaterthan65,nonwhite,NotBorninUK,NotEnglishspeaking,Population2011Census_y,GeneralFertilityRate,Malelifeexpectancy,Femalelifeexpectancy,LifeTotal
0,Hackney - Queensbridge,Hackney,00AM,11098,61.9,67.7,57.9,13.6,24.6,0.5,17.542063,8.2,44.7,38.3,11.8,13670.0,69.8,75.9,82.6,79.25
1,Tower Hamlets - Bethnal Green North,Tower Hamlets,00BG,12939,145.3,43,39,8.8,20.3,0.5,18.555872,7.0,49.4,38.7,15.0,13683.0,54.5,73.6,78.6,76.10
2,Merton - Abbey,Merton,00BA,8491,60.3,62.2,5.6,0.9,6.8,1.4,15.731861,8.5,26.6,38.3,12.5,10323.0,52.6,80.0,81.0,80.50
3,Richmond upon Thames - South Richmond,Richmond upon Thames,00BD,10317,65.8,81.9,18.5,3.1,14.1,1,16.552680,14.0,13.1,33.0,8.5,10649.0,76.4,83.8,86.1,84.95
4,Lambeth - Larkhall,Lambeth,00AY,15107,133.6,37.9,31.8,8.5,12.2,0.5,16.656034,6.2,43.3,42.2,13.0,17243.0,38.8,74.0,79.2,76.60
5,Greenwich - Plumstead,Greenwich,00AL,13433,51.1,57.1,19.5,5.9,19.4,1,23.356836,8.6,55.4,41.7,14.6,16736.0,106.6,74.0,83.3,78.65
6,Hillingdon - Heathrow Villages,Hillingdon,00AS,7399,67.4,85.5,24,3.2,23.8,1.4,20.821379,9.4,50.0,43.2,17.1,12199.0,86.9,75.8,82.8,79.30
7,Lambeth - Streatham Hill,Lambeth,00AY,15107,133.6,37.9,31.8,8.5,12.2,0.5,18.320129,8.4,37.9,37.8,12.4,14263.0,57.1,76.4,79.9,78.15
8,Havering - Gooshays,Havering,00AR,12833,49.5,82,1.9,31.6,19,1.4,23.237136,12.9,12.8,10.7,2.6,14692.0,68.6,76.3,80.4,78.35
9,Croydon - Broad Green,Croydon,00AH,13213,82.2,61.3,9.3,4.2,17.2,1.3,25.761312,7.1,68.6,46.2,16.9,18652.0,83.8,75.3,83.8,79.55
10,Hillingdon - West Ruislip,Hillingdon,00AS,7399,67.4,85.5,24,3.2,23.8,1.4,17.858826,16.8,18.0,18.4,3.9,10611.0,55.8,80.4,85.3,82.85
11,Ealing - North Greenford,Ealing,00AJ,15121,116.4,56.3,34.5,9.4,25.1,0.9,20.288181,11.4,56.4,51.4,22.1,14713.0,87.7,79.8,87.4,83.60
12,Lewisham - Lewisham Central,Lewisham,00AZ,16414,71.7,99.9,36.6,8.2,14.4,0.6,18.330849,8.4,51.6,41.2,12.4,17446.0,67.4,71.4,77.6,74.50
13,Hillingdon - Hillingdon East,Hillingdon,00AS,7399,67.4,85.5,24,3.2,23.8,1.4,23.113281,11.9,34.4,23.3,6.4,12906.0,83.7,77.6,83.5,80.55
14,Wandsworth - Southfields,Wandsworth,00BJ,16132,84.7,70.6,46,8.3,18.2,0.6,18.503937,7.7,24.4,34.8,9.0,16256.0,70.0,78.9,89.8,84.35
15,Hounslow - Heston West,Hounslow,00AT,13031,93.3,54.2,6.9,3.3,10.8,1.2,22.969931,10.3,76.2,51.1,23.9,12319.0,83.5,85.6,86.2,85.90
16,Sutton - Sutton West,Sutton,00BF,9715,37.1,68.2,10.6,3,15.5,1.5,18.071374,13.9,23.0,25.1,7.8,10536.0,63.2,79.4,82.2,80.80
17,Merton - Dundonald,Merton,00BA,8491,60.3,62.2,5.6,0.9,6.8,1.4,16.485175,9.8,18.1,35.6,7.3,9275.0,77.3,80.0,90.1,85.05
18,Haringey - West Green,Haringey,00AP,11795,101.8,52.3,9,3.4,8,1,19.742746,9.5,47.8,54.6,25.9,13372.0,65.0,75.6,86.2,80.90
19,Hounslow - Heston Central,Hounslow,00AT,13031,93.3,54.2,6.9,3.3,10.8,1.2,20.841471,10.9,76.6,54.7,23.9,12288.0,80.8,77.2,83.2,80.20
20,Barnet - Underhill,Barnet,00AC,18451,82.4,59,12.8,3.8,14,1.3,20.571788,16.2,27.3,25.4,6.9,15915.0,48.9,78.2,82.6,80.40
21,Sutton - Sutton Central,Sutton,00BF,9715,37.1,68.2,10.6,3,15.5,1.5,18.757391,11.5,24.1,26.9,99.7,10993.0,78.5,75.7,80.3,78.00
22,Bexley - Lesnes Abbey,Bexley,00AD,12094,68.5,70.5,38.4,9.7,20.8,0.8,20.923674,15.6,31.0,23.3,5.0,11346.0,75.5,79.6,84.3,81.95
23,Southwark - Brunswick Park,Southwark,00BE,13518,62.3,45.7,25.3,5.8,13.8,0.7,19.659936,7.1,53.3,40.6,10.7,13174.0,73.3,78.8,90.7,84.75
24,Redbridge - Clementswood,Redbridge,00BC,14544,100.4,76.8,11.3,5.3,19.6,1.1,26.639847,7.4,84.2,55.6,25.1,14666.0,93.1,76.7,81.2,78.95
25,Islington - Barnsbury,Islington,00AU,11634,96.6,21.6,31.1,4.7,13.4,0.5,14.884026,9.4,28.9,35.5,10.9,12201.0,45.1,75.0,79.5,77.25
26,Croydon - Shirley,Croydon,00AH,13213,82.2,61.3,9.3,4.2,17.2,1.3,20.628148,16.7,30.9,19.7,3.9,14296.0,71.4,83.0,85.4,84.20
27,Wandsworth - Northcote,Wandsworth,00BJ,16132,84.7,70.6,46,8.3,18.2,0.6,19.036145,6.0,14.9,28.9,5.7,14940.0,72.9,80.1,81.1,80.60
28,Greenwich - Woolwich Common,Greenwich,00AL,13433,51.1,57.1,19.5,5.9,19.4,1,26.910109,5.9,57.6,41.8,13.6,17499.0,100.5,73.9,85.4,79.65
29,Croydon - Sanderstead,Croydon,00AH,13213,82.2,61.3,9.3,4.2,17.2,1.3,19.558582,18.5,19.5,13.7,1.7,12777.0,55.7,82.5,84.2,83.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,Tower Hamlets - Shadwell,Tower Hamlets,00BG,12939,145.3,43,39,8.8,20.3,0.5,22.389146,6.3,64.4,45.1,23.2,15110.0,78.3,81.0,95.2,88.10
515,Croydon - Norbury,Croydon,00AH,13213,82.2,61.3,9.3,4.2,17.2,1.3,21.018451,13.4,62.3,43.6,13.0,16476.0,73.7,81.5,82.8,82.15
516,Waltham Forest - Higham Hill,Waltham Forest,00BH,13194,79.5,56.7,33.6,11.5,23.7,0.7,24.480825,7.6,51.9,40.3,15.7,13194.0,107.4,75.8,88.0,81.90
517,Brent - Tokyngton,Brent,00AE,13445,78.7,39.3,13.9,5.1,20.3,1.1,18.417742,11.3,76.3,62.9,26.6,15105.0,99.6,80.5,86.6,83.55
518,Haringey - Crouch End,Haringey,00AP,11795,101.8,52.3,9,3.4,8,1,15.861234,8.9,18.0,29.2,7.6,12395.0,59.1,78.1,82.3,80.20
519,Hackney - New River,Hackney,00AM,11098,61.9,67.7,57.9,13.6,24.6,0.5,28.882161,7.7,39.3,40.2,19.4,12551.0,128.2,79.9,82.8,81.35
520,Tower Hamlets - Blackwall & Cubitt Town,Tower Hamlets,00BG,12939,145.3,43,39,8.8,20.3,0.5,17.804840,4.7,50.4,48.6,21.9,19461.0,75.1,77.4,83.4,80.40
521,Bromley - Shortlands,Bromley,00AF,5110,58.6,88.8,5.5,1.6,21.9,1.7,18.526059,19.7,15.6,16.0,3.6,9824.0,48.2,83.0,87.9,85.45
522,Westminster - Tachbrook,Westminster,00BK,9270,184.9,69.1,3.9,0.4,5.7,0.9,10.750184,15.4,21.8,41.1,15.1,8158.0,33.3,82.2,83.1,82.65
523,Barnet - East Finchley,Barnet,00AC,18451,82.4,59,12.8,3.8,14,1.3,18.869223,13.0,28.2,34.4,10.4,15989.0,67.8,79.3,84.9,82.10
524,Merton - Colliers Wood,Merton,00BA,8491,60.3,62.2,5.6,0.9,6.8,1.4,14.189694,8.1,40.1,47.2,16.3,10712.0,62.9,77.6,83.3,80.45
525,Havering - Emerson Park,Havering,00AR,12833,49.5,82,1.9,31.6,19,1.4,16.306254,21.3,17.7,11.4,1.7,11977.0,52.2,78.7,81.3,80.00
526,Havering - Romford Town,Havering,00AR,12833,49.5,82,1.9,31.6,19,1.4,17.674769,14.0,16.4,16.6,5.6,15921.0,70.0,76.4,81.0,78.70
527,Harrow - Kenton West,Harrow,00AQ,12471,52.4,57.3,10.2,2.9,17.8,1.3,17.909246,14.3,72.6,51.3,20.4,11138.0,60.4,78.2,85.9,82.05
528,Kingston upon Thames - Berrylands,Kingston upon Thames,00AX,10232,49.4,75.7,11.7,2.1,19.1,1.4,16.922751,14.9,18.1,24.1,6.9,9437.0,60.4,78.4,83.9,81.15
529,Camden - West Hampstead,Camden,00AG,10955,92.1,65.2,34.1,5.2,12.6,0.7,12.545605,8.4,30.5,43.3,13.9,12060.0,55.6,77.9,83.0,80.45
530,Hounslow - Hounslow West,Hounslow,00AT,13031,93.3,54.2,6.9,3.3,10.8,1.2,17.443514,11.2,75.9,62.6,29.4,12658.0,95.8,76.4,81.5,78.95
531,Lewisham - Ladywell,Lewisham,00AZ,16414,71.7,99.9,36.6,8.2,14.4,0.6,18.325870,8.9,45.4,35.4,9.4,14515.0,63.6,74.5,79.2,76.85
532,Greenwich - Eltham North,Greenwich,00AL,13433,51.1,57.1,19.5,5.9,19.4,1,18.611710,16.6,11.3,13.9,3.4,12519.0,57.9,77.9,86.0,81.95
533,Hounslow - Hounslow Heath,Hounslow,00AT,13031,93.3,54.2,6.9,3.3,10.8,1.2,23.114008,7.8,72.6,58.0,27.7,14727.0,97.2,76.0,87.6,81.80
534,Hounslow - Feltham North,Hounslow,00AT,13031,93.3,54.2,6.9,3.3,10.8,1.2,19.968866,13.6,38.9,35.7,14.1,11563.0,84.3,73.5,77.3,75.40
535,Redbridge - Bridge,Redbridge,00BC,14544,100.4,76.8,11.3,5.3,19.6,1.1,20.029165,13.4,28.1,21.6,6.7,11658.0,50.0,79.4,83.6,81.50
536,Haringey - Noel Park,Haringey,00AP,11795,101.8,52.3,9,3.4,8,1,19.097496,8.5,45.2,51.7,25.4,13939.0,53.0,74.8,84.7,79.75
537,Kingston upon Thames - Coombe Vale,Kingston upon Thames,00AX,10232,49.4,75.7,11.7,2.1,19.1,1.4,21.241026,13.3,33.4,33.5,11.1,9750.0,51.4,80.2,85.3,82.75
538,Bromley - Chislehurst,Bromley,00AF,5110,58.6,88.8,5.5,1.6,21.9,1.7,17.982604,21.5,12.0,12.7,1.9,14831.0,59.7,81.2,83.0,82.10
539,Haringey - Harringay,Haringey,00AP,11795,101.8,52.3,9,3.4,8,1,14.767932,7.5,34.5,49.2,24.3,13272.0,64.0,78.4,81.8,80.10
540,Lambeth - Coldharbour,Lambeth,00AY,15107,133.6,37.9,31.8,8.5,12.2,0.5,21.562202,6.1,62.1,43.7,13.3,16784.0,63.0,73.1,80.0,76.55
541,Newham - Plaistow North,Newham,00BB,10679,91.6,57.8,30.8,5.6,14.1,0.7,23.600517,7.1,73.4,52.1,23.6,15470.0,96.0,75.3,82.2,78.75
542,Greenwich - Abbey Wood,Greenwich,00AL,13433,51.1,57.1,19.5,5.9,19.4,1,26.853031,9.6,46.3,32.0,7.6,15704.0,105.3,74.3,81.1,77.70
543,Southwark - South Camberwell,Southwark,00BE,13518,62.3,45.7,25.3,5.8,13.8,0.7,19.684852,7.1,44.1,35.8,7.7,12629.0,56.9,76.4,84.6,80.50

## Make DF for model

In [96]:
new_columns = ['Wardname', 'Population2011Census_x', 'Openspace', 'Carsperhousehold', 'Children', 'Greaterthan65', 'nonwhite', 'NotBorninUK', 'NotEnglishspeaking', 'GeneralFertilityRate','JobSeekers','Noqual', 'Crimerate', 'hhSocialRented',  'LifeTotal']
latest_DF = CompleteDF[new_columns]

In [97]:
latest_DF.head(1)

,Wardname,Population2011Census_x,Openspace,Carsperhousehold,Children,Greaterthan65,nonwhite,NotBorninUK,NotEnglishspeaking,GeneralFertilityRate,JobSeekers,Noqual,Crimerate,hhSocialRented,LifeTotal
0,Hackney - Queensbridge,11098,67.7,0.5,17.542063,8.2,44.7,38.3,11.8,69.8,13.6,24.6,61.9,57.9,79.25

## Make Model

In [62]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import label
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [98]:
# Label Encode the wards
labelEncoder = label.LabelEncoder()
latest_DF['Wardname'] = labelEncoder.fit_transform(latest_DF.Wardname)

In [99]:
latest_DF.head(1)

,Wardname,Population2011Census_x,Openspace,Carsperhousehold,Children,Greaterthan65,nonwhite,NotBorninUK,NotEnglishspeaking,GeneralFertilityRate,JobSeekers,Noqual,Crimerate,hhSocialRented,LifeTotal
0,190,11098,67.7,0.5,17.542063,8.2,44.7,38.3,11.8,69.8,13.6,24.6,61.9,57.9,79.25

In [100]:
# Use min max scaler
scaler = MinMaxScaler()
latest_DF_Scaled = scaler.fit_transform(latest_DF)
latest_DF_Scaled = pd.DataFrame(data=latest_DF_Scaled, columns=latest_DF.columns)

In [114]:
latest_DF_Scaled.head()

,Wardname,Population2011Census_x,Openspace,Carsperhousehold,Children,Greaterthan65,nonwhite,NotBorninUK,NotEnglishspeaking,GeneralFertilityRate,JobSeekers,Noqual,Crimerate,hhSocialRented,LifeTotal,IMD,_intercept
0,0.349908,0.448842,0.588761,0.000000,0.399489,0.235,0.453125,0.523659,0.114804,0.449576,0.423077,0.974227,0.167794,1.000000,0.092377,0.593028,1
1,0.867403,0.586838,0.273308,0.000000,0.438401,0.175,0.505580,0.529968,0.147029,0.305372,0.269231,0.752577,0.732070,0.662500,0.035874,0.475678,1
2,0.659300,0.253429,0.518519,0.750000,0.330011,0.250,0.251116,0.523659,0.121853,0.287465,0.016026,0.056701,0.156969,0.066071,0.114798,0.045293,1
3,0.788214,0.390301,0.770115,0.416667,0.361515,0.525,0.100446,0.440063,0.081571,0.511781,0.086538,0.432990,0.194181,0.296429,0.194619,0.204905,1
4,0.607735,0.749344,0.208174,0.000000,0.365482,0.135,0.437500,0.585174,0.126888,0.157399,0.259615,0.335052,0.652909,0.533929,0.044843,0.345235,1

### Calc IMD

In [102]:
def imd(row):
    return((row['JobSeekers']*0.55)+(row['Noqual']*0.25)+(row['Crimerate']*0.10)+(row['hhSocialRented']*0.10))

In [103]:
latest_DF_Scaled['IMD'] = latest_DF_Scaled.apply(imd, axis=1)

## Make X and Y datasets

In [118]:
y = latest_DF_Scaled['LifeTotal']
latest_DF_Scaled = latest_DF_Scaled.drop(columns=['JobSeekers', 'Noqual', 'Crimerate', 'hhSocialRented', 'LifeTotal'], axis=1)
x = latest_DF_Scaled

In [129]:
x.head()

,Wardname,Population2011Census_x,Openspace,Carsperhousehold,Children,Greaterthan65,nonwhite,NotBorninUK,NotEnglishspeaking,GeneralFertilityRate,IMD,_intercept
0,0.349908,0.448842,0.588761,0.000000,0.399489,0.235,0.453125,0.523659,0.114804,0.449576,0.593028,1
1,0.867403,0.586838,0.273308,0.000000,0.438401,0.175,0.505580,0.529968,0.147029,0.305372,0.475678,1
2,0.659300,0.253429,0.518519,0.750000,0.330011,0.250,0.251116,0.523659,0.121853,0.287465,0.045293,1
3,0.788214,0.390301,0.770115,0.416667,0.361515,0.525,0.100446,0.440063,0.081571,0.511781,0.204905,1
4,0.607735,0.749344,0.208174,0.000000,0.365482,0.135,0.437500,0.585174,0.126888,0.157399,0.345235,1

In [110]:
#Reference Variable
latest_DF_Scaled['_intercept'] = 1

# Train Model

In [120]:
import statsmodels.api as sm
import numpy as np
# split the dataset into the training set and test set
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size= 0.3, random_state=0)
    
logit = sm.OLS(np.array(y_train), np.array(X_train))
    
    # Fit the model
result = logit.fit()

In [121]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.261
Model:                            OLS   Adj. R-squared:                  0.239
Method:                 Least Squares   F-statistic:                     11.81
Date:                Fri, 12 Apr 2019   Prob (F-statistic):           5.48e-19
Time:                        15:21:25   Log-Likelihood:                 659.30
No. Observations:                 380   AIC:                            -1295.
Df Residuals:                     368   BIC:                            -1247.
Df Model:                          11
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.0126      0.009      1.400      0.162      -0.005       0.030
x2            -0.0036      0.012     -0.289      0.773      -0.028       0.021
x3             0.0030      0.013      0.227      0.820      -0.023       0.029
x4             0.0355      0.013      2.781      0.006       0.010       0.061
x5             0.0049      0.029      0.169      0.866      -0.052       0.062
x6             0.0895      0.017      5.149      0.000       0.055       0.124
x7            -0.1116      0.024     -4.728      0.000      -0.158      -0.065
x8             0.1484      0.045      3.272      0.001       0.059       0.238
x9             0.0243      0.102      0.239      0.811      -0.176       0.224
x10           -0.0123      0.020     -0.603      0.547      -0.052       0.028
x11            0.0079      0.022      0.361      0.718      -0.035       0.051
const          0.0381      0.024      1.593      0.112      -0.009       0.085
==============================================================================
Omnibus:                       48.931   Durbin-Watson:                   2.140
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              128.837
Skew:                           0.616   Prob(JB):                     1.06e-28
Kurtosis:                       5.572   Cond. No.                         87.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.